<div class="container">
  <h1 class="mat-h1">Configuration</h1>

  <div fxLayout="column" fxLayoutAlign="center center">

    <mat-card class="card">
      <form [formGroup]="configform" (ngSubmit)="openConfirmDialog()">
      <mat-card-header>
        <mat-icon mat-card-avatar>warning</mat-icon>
        <mat-card-title>Changes performed will be permanent</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill" style="width: 100%;">
          <textarea matInput style="height: 500px"
              formControlName="configtext"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" type="submit"
        [disabled]="!configform.valid || isSettingConfig()">Submit</button>
        <span *ngIf="showSettingError()">error: unable to set config</span>
        <span *ngIf="showSettingSuccess()">succesfully set config</span>
      </mat-card-actions>
      </form>

    </mat-card>
  </div>
</div>