<div fxLayout="row" fxLayoutAlign="start center">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span style="font-size: 20px;">{{getNodeName() | async}}</span>
  <mat-divider [vertical]="true"></mat-divider> 
  <nav mat-tab-nav-bar>
    <a mat-tab-link
        (click)="scope = 'user'"
        [active]="scope === 'user'">
      <span *ngIf="!(isHandset$ | async)">Info</span>
      <mat-icon *ngIf="isHandset$|async">info</mat-icon>
    </a>
    <a mat-tab-link
        (click)="scope = 'config'"
        [active]="scope === 'config'">
      <span *ngIf="!(isHandset$ | async)">Config</span>
      <mat-icon *ngIf="isHandset$|async">settings</mat-icon>
    </a>
    <a mat-tab-link
        (click)="scope = 'system'"
        [active]="scope === 'system'">
      <span *ngIf="!(isHandset$|async)">System</span>
      <mat-icon *ngIf="isHandset$|async">storage</mat-icon>
    </a>
  </nav>
</div>
<div class="container">
  <app-node-details-table [node_id]="node_id"
        [scope]="scope"></app-node-details-table>
</div>