<mat-card class="dashboard-card">

  <div>
    <h2>Network Operations</h2>
  </div>

  <mat-card-content
      style="padding-top: 10px; padding-right: 30px; padding-left: 30px"
      fxLayout="row"
      fxLayoutAlign="space-between center">

    <ng-container *ngFor="let op of _operations">
      <div fxLayout="column">
        <button *ngIf="!isTriggeredOperation()"
                mat-stroked-button color="primary"
                [matTooltip]="op.name.toUpperCase()"
                (click)="op.action()">
          <mat-icon>{{op.icon}}</mat-icon>
        </button>
        <button *ngIf="isTriggeredOperation() && !op.check()"
                mat-stroked-button color="disabled"
                [matTooltip]="op.name.toUpperCase()">
          <mat-icon>{{op.icon}}</mat-icon>
        </button>
        <button *ngIf="isTriggeredOperation() && op.check()"
                mat-raised-button color="warn"
                matTooltip="Cancel operation"
                (click)="cancelOperation()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </ng-container>

  </mat-card-content>

  <div style="padding-top: 0px; padding-right: 30px; padding-left: 30px"
       fxLayout="column"
       fxLayoutAlign="center center"
       *ngIf="isRunningOperation()">
    <div style="padding-bottom: 10px">
      {{_progress_str}}
    </div>
    <mat-progress-bar mode="buffer" value="{{_progress_percent}}"></mat-progress-bar>
  </div>

</mat-card>