<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
      <td mat-cell *matCellDef="let row">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          <span>{{row.value.label}}</span>
          <span style="font-size: 10px; color:lightslategray">id: {{row.value.value_id}}</span>
        </div>
      </td>
    </ng-container>
    
    <!-- Value Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.value.read_only; else readWrite">
          <span>{{row.value.value}}</span>
          <span style="margin-left: 10px">{{row.value.units}}</span>
        </div>

        <ng-template #readWrite  [ngSwitch]="row.value.type">
          <div *ngSwitchDefault
            fxLayout="column" fxLayoutAlign="space-between start">
            <span>{{row.value.value}}</span>
            <span style="font-size: 10px; color: lightslategray">{{row.value.type}}</span>
          </div>

          <ng-container *ngSwitchCase="'list'">
            <form [formGroup]="form_groups[row.value.value_id]"
                  (ngSubmit)="onSubmit(row.value.value_id)"
                  (change)="onChange(row.value.value_id)">
              <mat-form-field appearance="fill"
                    placeholder="{{row.value.value}}">
                    <mat-select formControlName="valuectrl">
                  <mat-option *ngFor="let v of row.value.values" [value]="v" >
                    {{v}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-stroked-button type="submit">submit</button>
            </form>
          </ng-container>

          <ng-container *ngSwitchCase="'short'">
            <mat-form-field appearance="fill">
              <mat-label>{{row.value.type}}</mat-label>
              <input matInput type="number"
                  [placeholder]="row.value.value"
                  [min]="row.value.min" [max]="row.value.max"
                  [value]="row.value.value"/>
              <span matSuffix>{{row.value.units}}</span>
            </mat-form-field>
          </ng-container>

          <ng-container *ngSwitchCase="'byte'">
            <mat-form-field appearance="fill">
              <mat-label>{{row.value.type}}</mat-label>
              <input matInput type="number"
                  [placeholder]="row.value.value"
                  [min]="row.value.min" [max]="row.value.max"
                  [value]="row.value.value"/>
              <span matSuffix>{{row.value.units}}</span>
            </mat-form-field>
          </ng-container>

          <ng-container *ngSwitchCase="'int'">
            <mat-form-field appearance="fill">
              <mat-label>{{row.value.type}}</mat-label>
              <input matInput type="number"
                  [placeholder]="row.value.value"
                  [min]="row.value.min" [max]="row.value.max"
                  [value]="row.value.value"/>
              <span matSuffix>{{row.value.units}}</span>
            </mat-form-field>
          </ng-container>

          <ng-container *ngSwitchCase="'bool'">
            <mat-slide-toggle [checked]="row.value.value"></mat-slide-toggle>
          </ng-container>

          <ng-container *ngSwitchCase="'button'">
            <button mat-raised-button>{{row.value.label}}</button>
          </ng-container>
        </ng-template>
      </td>
    </ng-container>

    <!-- units Column -->
    <ng-container matColumnDef="units">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Units</th>
      <td mat-cell *matCellDef="let row">{{row.value.units}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="datasource?.node_details.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
