<div class="grid-container">
  <h1 class="mat-h1">Metrics</h1>
  <mat-grid-list [cols]="layout.cols" rowHeight="150px">

     <mat-grid-tile [colspan]="layout.cards.daily_watt.cols"
                    [rowspan]="layout.cards.daily_watt.rows">      
      <app-daily-wattage-metrics></app-daily-wattage-metrics>
     </mat-grid-tile>

    <mat-grid-tile [colspan]="layout.cards.last_30d_kwh.cols"
                   [rowspan]="layout.cards.last_30d_kwh.rows">
      <mat-card class="metrics-card">
        <h2>30 Days Consumption</h2>
        <div style="position: absolute; left: 0; right: 0; top: 70px; bottom: 30px">
        <ngx-charts-gauge
          [legendTitle]="'kWh'"
          [legend]="false"
          [legendPosition]="'right'"
          [results]="kWh"
          [units]="'kWh'"
          [max]="kWh_max">
        </ngx-charts-gauge>
      </div>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="layout.cards.last_30d_slots.cols"
                   [rowspan]="layout.cards.last_30d_slots.rows">
      <app-metrics-per-time-slot></app-metrics-per-time-slot>      
    </mat-grid-tile>

  </mat-grid-list>
</div>