<div class="grid-container">
  <h1 class="mat-h1">Metrics</h1>
  <mat-grid-list [cols]="layout.cols" rowHeight="150px">

     <mat-grid-tile [colspan]="layout.cards.daily_watt.cols"
                    [rowspan]="layout.cards.daily_watt.rows">      
      <app-daily-wattage-metrics></app-daily-wattage-metrics>
     </mat-grid-tile>

    <mat-grid-tile [colspan]="layout.cards.last_30d_kwh.cols"
                   [rowspan]="layout.cards.last_30d_kwh.rows">
      <app-last30-days-kwh-meter></app-last30-days-kwh-meter>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="layout.cards.last_30d_slots.cols"
                   [rowspan]="layout.cards.last_30d_slots.rows">
      <app-metrics-per-time-slot></app-metrics-per-time-slot>      
    </mat-grid-tile>

  </mat-grid-list>
</div>