<div>
<mat-sidenav-container class="sidenav-container" autosize>  
  <mat-sidenav-content>
    <div fxLayout="column">
      <mat-toolbar>
        <span *ngIf="!(isHandset$ | async)">Devices</span>
        <nav mat-tab-nav-bar autosize>
          <a mat-tab-link
              (click)="device_type = 'all'"
              [active]="device_type === 'all'">
            <span>All</span>
          </a>
          <a mat-tab-link
              (click)="device_type = 'switch'"
              [active]="device_type === 'switch'">
            <span *ngIf="!(isHandset$|async)">Switches</span>
            <mat-icon *ngIf="(isHandset$|async)">outlet</mat-icon>
          </a>
          <a mat-tab-link
              (click)="device_type = 'meter'"
              [active]="device_type === 'meter'">
            <span class="menu-item" *ngIf="!(isHandset$|async)">Meters</span>
            <mat-icon *ngIf="(isHandset$|async)">data_usage</mat-icon>
          </a>
          <a mat-tab-link
              (click)="device_type = 'sensor'"
              [active]="device_type === 'sensor'">
            <span class="menu-item" *ngIf="!(isHandset$|async)">Sensors</span>
            <mat-icon *ngIf="(isHandset$|async)">group_work</mat-icon>
          </a>
        </nav>        
      </mat-toolbar>
    </div>
    <div class="container">
      <app-nodes-table
          [node_type]="device_type"
          (selected_node)="selectNode($event)"></app-nodes-table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>