.sidenav-container {
    height: calc(100vh - 64px);
}

.container {
	margin: 20px;
}

.sidenav.mat-drawer {
    top: unset;
    bottom: unset;
    height: 100%;
}

.menu-item {
    padding-left: 5px;
}

.mat-tab-link {
    min-width: unset;
    height: unset;
    display: flex;
}