<mat-card class="dashboard-card">
  <div>
    <h2>Network State</h2>
  </div>
  <mat-card-content
      style="padding-top: 10px; padding-right: 30px; padding-left: 30px"
      fxLayout="row"
      fxLayoutAlign="space-between center">
    <div fxLayout="column">
      <div>Network State</div>
      <div [ngSwitch]="network_state" style="font-size: 24px;">
        <ng-container *ngSwitchCase="'starting'">
          <span style="color: green">STARTING</span>
        </ng-container>
        
        <ng-container *ngSwitchCase="'alive'">
          <span style="color: green">ALIVE</span>
        </ng-container>
        <ng-container *ngSwitchCase="'awake'">
          <span style="color: indigo">AWAKE</span>
        </ng-container>
        <ng-container *ngSwitchCase="'asleep'">
          <span style="color: indigo">ASLEEP</span>
        </ng-container>
        <ng-container *ngSwitchCase="'stopped'">
          <span style="color: red">STOPPED</span>
        </ng-container>
        <ng-container *ngSwitchCase="'dead'">
          <span style="color: red">DEAD</span>
        </ng-container>
        <ng-container *ngSwitchCase="'unknown'">
          <span style="color: indigo">UNKNOWN</span>
        </ng-container>
        <ng-container *ngSwitchDefault>???</ng-container>
      </div>
    </div>
    <div [ngSwitch]="driver_state">
      <button *ngSwitchCase="'stopped'"
        mat-stroked-button color="primary"
        (click)="startNetwork()">Start</button>
      <button *ngSwitchCase="'connected'"
        mat-raised-button color="warn"
        (click)="stopNetwork()">Stop</button>
      <button *ngSwitchCase="'started'"
        mat-raised-button color="warn"
        (click)="stopNetwork()">Stop</button>
      <button *ngSwitchCase="'ready'"
        mat-raised-button color="warn"
        (click)="stopNetwork()">Stop</button>
      <button *ngSwitchDefault
        mat-stroked-button color="disabled">Start</button>
    </div>
    <div fxLayout="column">
      <div>Driver State</div>
      <div [ngSwitch]="driver_state" style="font-size: 24px;">
        <ng-container *ngSwitchCase="'started'">
          <span style="color: green">STARTED</span>
        </ng-container>
        <ng-container *ngSwitchCase="'connected'">
          <span style="color: green">CONNECTED</span>
        </ng-container>
        <ng-container *ngSwitchCase="'ready'">
          <span style="color: green">READY</span>
        </ng-container>
        <ng-container *ngSwitchCase="'unknown'">
          <span style="color: indigo">UNKNOWN</span>
        </ng-container>
        <ng-container *ngSwitchCase="'stopped'">
          <span style="color: orange">STOPPED</span>
        </ng-container>
        <ng-container *ngSwitchCase="'failed'">
          <span style="color: red">FAILED</span>
        </ng-container>
        <ng-container *ngSwitchDefault>???</ng-container>
      </div>
      <div>
        <ng-template
            [ngIf]="network_status && network_status.device !== ''">
          <span>
            {{network_status.device}}
          </span>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>