<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav fixedInViewport
      class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="isExpanded = !isExpanded">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="isExpanded"
        [class.expanded-sidenav]="isExpanded === true">menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <a mat-list-item routerLink="/metrics"
            routerLinkActive="active"
            aria-label="metrics">
            <mat-icon
              matTooltip="metrics"
              style="padding: 3px;"
            >data_usage</mat-icon>
            <span *ngIf="isExpanded"
              style="font-size: 20px;">metrics</span>
        </a>
      </mat-list-item>      
      <mat-list-item>
        <a mat-list-item routerLink="/nodes"
            routerLinkActive="active"
            aria-label="nodes">
            <mat-icon
            matTooltip="network nodes"
            style="padding: 3px;"
            >devices</mat-icon>
            <span *ngIf="isExpanded"
            style="font-size: 20px;">nodes</span>
          </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/network"
            routerLinkActive="active"
            aria-label="network">
            <mat-icon
            matTooltip="network"
            style="padding: 3px;"
            >router</mat-icon>
            <span *ngIf="isExpanded"
            style="font-size: 20px;">network</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/topology"
            routerLinkActive="active"
            aria-label="topology">
            <mat-icon
              matTooltip="topology"
              style="padding: 3px;"
            >device_hub</mat-icon>
            <span *ngIf="isExpanded"
              style="font-size: 20px;">topology</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/config"
            routerLinkActive="active"
            aria-label="config">
            <mat-icon
              matTooltip="config"
              style="padding: 3px;"
            >settings</mat-icon>
            <span *ngIf="isExpanded"
              style="font-size: 20px;">config</span>
        </a>
      </mat-list-item>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span style="padding-left: 10px;">ozw dashboard</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
