<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav fixedInViewport
      class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="true">
    <div
      fxLayout="column"
      fxLayoutAlign="space-between"
      style="height: 100vh"
    >
    <mat-toolbar>
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          matTooltip="Menu"
          [matTooltipDisabled]="isExpanded"
          (click)="isExpanded = !isExpanded">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="isExpanded"
        [class.expanded-sidenav]="isExpanded === true">menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <a mat-list-item routerLink="/metrics"
              routerLinkActive="active"
              aria-label="metrics"
              matTooltip="metrics"
              [matTooltipDisabled]="isExpanded">
            <mat-icon style="padding: 3px;">data_usage</mat-icon>
            <span *ngIf="isExpanded"
              style="font-size: 20px;">metrics</span>
        </a>
      </mat-list-item>      
      <mat-list-item>
        <a mat-list-item routerLink="/nodes"
              routerLinkActive="active"
              aria-label="nodes"            
              matTooltip="network nodes"
              [matTooltipDisabled]="isExpanded">
            <mat-icon style="padding: 3px;">devices</mat-icon>
            <span *ngIf="isExpanded"
            style="font-size: 20px;">nodes</span>
          </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/network"
              routerLinkActive="active"
              aria-label="network"
              matTooltip="network"
              [matTooltipDisabled]="isExpanded">
            <mat-icon style="padding: 3px;">router</mat-icon>
            <span *ngIf="isExpanded"
            style="font-size: 20px;">network</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/topology"
              routerLinkActive="active"
              aria-label="topology"
              matTooltip="topology"
              [matTooltipDisabled]="isExpanded">
            <mat-icon style="padding: 3px;">device_hub</mat-icon>
            <span *ngIf="isExpanded"
              style="font-size: 20px;">topology</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/config"
              routerLinkActive="active"
              aria-label="config"
              matTooltip="config"
              [matTooltipDisabled]="isExpanded">
            <mat-icon style="padding: 3px;">settings</mat-icon>
            <span *ngIf="isExpanded"
              style="font-size: 20px;">config</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
    <span style="height: calc(100vh - 248px - 24px)"></span>
    <div style="padding: 10px" fxLayout="row" fxLayoutAlign="start center">
      <a href="https://github.com/jecluis/ozw-frontend" target="new">
        <mat-icon svgIcon="github" style="padding: 3px"></mat-icon>
        <span *ngIf="isExpanded" style="font-size: 20px">github</span>
      </a>
    </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span style="padding-left: 10px;">ozw dashboard</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
