<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Nodes"
  multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">
        <span>{{row.id}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">
        <span>{{row.info.name}}</span>
      </td>
    </ng-container>
    
    <ng-template #unknown>
      <mat-icon matTooltip="unknown">help_outline</mat-icon>
    </ng-template>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.info.product !== 'unknown' else unknown">
          {{row.info.product}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.type !== 'unknown' else unknown">
          {{row.info.type}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="row.state.str">
          <ng-container *ngSwitchCase="'alive'">
            <mat-icon
              style="color: green"
              matTooltip="alive">check</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="'awake'">
            <mat-icon
              style="color: indigo"
              matTooltip="awake">visibility</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="'failed'">
            <mat-icon
              style="color: red"
              matTooltip="failed">error_outline</mat-icon>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <mat-icon
              style="color: grey"
              matTooltip="sleeping">visibility_off</mat-icon>
      </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="capabilities">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Capabilities</th>
      <td mat-cell *matCellDef="let row">
        <app-device-capabilities [node]="row"></app-device-capabilities>
      </td>
    </ng-container>
    <ng-container matColumnDef="lastseen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Seen</th>
      <td mat-cell *matCellDef="let row">{{getLastSeenStr(row)}}</td>
    </ng-container>
    <ng-container matColumnDef="switch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Switch</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.type.is_switch">
          <ng-container [ngSwitch]="isSwitchedOn(row.id) | async">
            <mat-icon *ngSwitchDefault
                style="color: grey"
                matTooltip="Switch">power_settings_new</mat-icon>
            <mat-icon *ngSwitchCase="true"
                style="color: green"
                matTooltip="Switched On">power_settings_new</mat-icon>
            <mat-icon *ngSwitchCase="false"
                style="color: red"
                matTooltip="Switched Off">power_settings_new</mat-icon>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="metering">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Metering</th>
      <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.type.is_meter">
          <mat-icon style="color: grey" matTooltip="Is Metering">data_usage</mat-icon>
          </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Info</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="toggle_info(row)">
          <mat-icon matTooltip="More Information">keyboard_arrow_right</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedNode">
      <td mat-cell *matCellDef="let node"
          [attr.colspan]="displayedColumns.length">
        <div class="expanded-node-detail"
            [@detailExpand]="isExpandedDetails(node) ? 'expanded' : 'collapsed'">
          <app-meter-details [node]="node"></app-meter-details>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="node-row"
        [class.expanded-node-row]="isExpandedDetails(row)"
        (click)="toggle_details(row)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedNode']" class="detail-row"></tr>

  </table>

  <mat-paginator #paginator
    [length]="_data_source._nodes_data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>